* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding does not affect the total width/height */
}


.parent-container {
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  height: 100%;
}

.content-box {
  flex-grow: 1; /* Makes the content box fill the available space */
  /* Additional styles */
}

/* Example adjustment if AppBar height is known */
.main-content {
  padding-top: 64px; /* Adjust based on AppBar's height */
}

/* Container to center everything and add some padding */
.products-container {
  height: 90vh; /* Make sure container is at least viewport height */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; /* Change to flex-start to align content to the top */
  /* padding: 20px; */
  gap: 20px;
  /* margin-top: 24px; */
  overflow: hidden;

}

/* Styling the search section */
.search-section {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.search-section input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-section button {
  padding: 10px 20px;
  background-color: #35845c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.search-section button:hover {
  background-color: #ffffff33;
}

/* Content area with employers list and details */
.content {
  display: flex;
  /* just added flex direction */
  flex-direction: row;
  flex: 1;
  width: 100%;
  gap: 0px;
}

/* Employer list styling */
.employer-list {
  width: 40%;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 90px);
  flex: 2;
}

.employer-list,
.product-details {
  flex: 1; /* Take up equal space */
}

.product-item {
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.product-item:hover {
  background-color: #e2e6ea;
}

/* Details section styling */
.product-details {
  /* width: 50%; */
  width: calc(33.333% - 20px);
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.product-details h2 {
  color: #28628f;
  margin-bottom: 15px;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details a {
  color: #28628f;
}

.product-details button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #35845c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-details button:hover {
  background-color: #35845c;
}


.products-container {
  position: relative;
  top: 0;
  padding-top: 0px;
  margin-top: 0px; /* Adjust this value based on the gap you observe */
}



html, body, #root{
  /* height: 100%; */
  width: 100%;
  margin: 0;
  /* padding: 0; */
  /* padding-top: 20px; */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

@media (max-width: 383px) {
  /* On smaller screens, adjust layout */
  .content {
    flex-direction: column; /* Stack vertically */
  }

  .employer-list,
  .employer-details {
    width: 100%; /* Each takes full width */
  }

  /* Adjust or hide elements as needed for mobile */
  .employer-details {
    margin-top: 20px; /* Add space between list and details */
  }


  
}

