:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); /* Dark text for readability */
  background-color: #2db7b1; /* Light blue background */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2db7b1; 
  padding-top: env(safe-area-inset-top) ;
  padding-bottom: env(safe-area-inset-bottom, 40px);
  padding-left: env(safe-area-inset-left);
  padding-right:env(safe-area-inset-right) ;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#2db7b1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547; 
    background-color: #2db7b1; 
  }
}
