.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjusted to center since the founder text moved up */
  justify-content: flex-start;
  width: 80%;
  margin: 5px auto; /* Center the container and give top & bottom margin */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* Set text color to white for better visibility */
}

.over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Space between this container and the next */
}

.text-container {
  padding: 20px; /* Increased padding for more space around the text */
  background-color: rgba(255, 255, 255, 0.05); /* Softer background fade */
  border-radius: 5px; /* Softens the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow for a less harsh edge */
  width: 80%; /* Adjust width as needed */
  text-align: center; /* Keep text centered */
  margin-bottom: 20px; /* Space below the container */
  margin-top: 20px; /* Adds space above the container for better positioning */
}


/* .left-container,  */
.right-container {
  width: 80%;
  margin: 5px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.founder-text, h3 {
  text-align: center;
}

.under-container {
  text-align: center;
  margin-top: auto; 
  padding: 20px;
  width: 100%;
}

.under-container a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Matching style with text container */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.under-container a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly more visible on hover */
  color: #dddddd;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.288);
  color: #dddddd;
}

@media (max-width: 850px) {
  .parent-container, .over-container, .left-container, .right-container {
    width: 90%; /* Adjust for mobile */
    padding: 10px;
    margin: 5px 0;
  }

  .founder-text {
    text-align: justify;
  }





}
