.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #f2f7fc; /* Lighter blue background */
}

.over-container {
  display: flex;
  flex-direction: column; /* This stacks children vertically */
  align-items: center; /* This centers children horizontally */
  width: 100%;
  margin-bottom: 20px; /* Add some space between this container and the one below */
}


.left-container,
.right-container {
  width: 80%; /* Adjust this value as needed for proper sizing */
  margin: 10px 0; /* This adds spacing between the stacked elements */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.founder-text {
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

h3 {
  color: #005b96;
  margin-bottom: 10px;
}

.under-container {
  text-align: center;
  padding: 20px;
  width: 100%;
}

a {
  color: #005b96;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #e6f0f8;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #d1e4f2;
}

@media (max-width: 850px) {
  .over-container {
    flex-direction: column;
    margin: 10px 0;
  }


  @media (max-width: 850px) {
    .left-container,
    .right-container {
      width: 90%; /* You might want to make the containers wider on mobile */
    }
  }
  

  .founder-text {
    text-align: justify;
  }
}
